@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");

/* código omitido */


:root {
    --cor-de-fundo: #b6c3f7;
    --branco:  #97989c;
    --laranja: #4bd4ef;
    --azul-degrade: linear-gradient(97.54deg, #aac4f1 35.49%, #5683ec 165.37%);
}

body {
    background-color: var(--cor-de-fundo);
}